$font: 'Rubik', sans-serif;

$primary-color: #f53838;
$primary-color-light: #f53855;
$primary-color-soft: #ffecec;
$green-color: #2fab73;

$white-color: #fff;
$smoke-color: #f6f6f6;
$gray-color: #fbfbfb;

$heading-text-color: #0b132a;
$text-color: #4f5665;

$transition: all 0.25s linear;
